<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Witwiki</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css" />
    <link href="app-content/app.css" rel="stylesheet" />
</head>
<body>

    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <ul>
                    <li><a ng-href="./">Accueil</a></li>
                    <li ng-if="$root.globals.currentUser.id_role == 1"><a ng-href="#!/admin">Administration</a></li>
                    <li><a ng-href="#!/login">Déconnexion</a></li>
                </ul>
                <div ng-view></div>
            </div>
        </div>
    </div>

    <script src="dist/js/jquery-3.1.1.min.js"></script>
    <script src="dist/js/angular.min.js"></script>
    <script src="dist/js/angular-route.min.js"></script>
    <script src="dist/js/angular-cookies.min.js"></script>

    <script src="app.js"></script>
    <script src="app-services/authentication.service.js"></script>
    <script src="app-services/flash.service.js"></script>

    <!-- Real user service that uses an api -->
    <script src="app-services/user.service.js"></script>

    <!-- Fake user service for demo that uses local storage -->
    <!-- <script src="app-services/user.service.local-storage.js"></script> -->

    <script src="controller/home.controller.js"></script>
    <script src="controller/admin.controller.js"></script>
    <script src="controller/login.controller.js"></script>
    <script src="controller/register.controller.js"></script>
</body>
</html>
