<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Witwiki</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="dist/css/font-awesome.min.css" />
    <link rel="stylesheet" href="dist/css/ng-table.min.css" />
    <link href="app-content/app.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="#" class="navbar-brand">Witwiki</a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                            <ul class="nav navbar-nav">
                                <li role="presentation"><a ng-if="$root.globals.currentUser" ng-href="#!/message">Messagerie</a></li>
                                <li role="presentation"><a ng-if="$root.globals.currentUser" ng-href="#!/upload">Media</a></li>
                                <li role="presentation" ng-if="$root.globals.currentUser.id_role == 2 || $root.globals.currentUser.id_role == 1"><a ng-href="#!/addArticle">Créer un article</a></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li role="presentation" ng-if="$root.globals.currentUser.id_role == 1"><a ng-href="#!/admin">Administration</a></li>
                                <li role="presentation"><a ng-if="$root.globals.currentUser" ng-href="#!/login">Déconnexion</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div ng-view></div>
            </div>
        </div>
    </div>

    <script src="dist/js/jquery-3.1.1.min.js"></script>
    <script src="dist/js/angular.min.js"></script>
    <script src="dist/js/angular-route.min.js"></script>
    <script src="dist/js/angular-cookies.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <!-- Libs -->
    <script src='dist/js/textAngular-rangy.min.js'></script>
    <script src='dist/js/textAngular-sanitize.min.js'></script>
    <script src='dist/js/textAngular.min.js'></script>
    <script src="dist/js/ng-table.min.js"></script>
    <script src="dist/js/ng-file-upload.min.js"></script>
    <script src="dist/js/ng-table.min.js"></script>


    <script src="app.js"></script>
    <script src="app-services/authentication.service.js"></script>
    <script src="app-services/flash.service.js"></script>

    <!-- Real user service that uses an api -->
    <script src="app-services/user.service.js"></script>
    <script src="app-services/article.service.js"></script>
    <script src="app-services/categorie.service.js"></script>
    <script src="app-services/message.service.js"></script>
    <script src="app-services/upload.service.js"></script>

    <script src="controller/home.controller.js"></script>
    <script src="controller/article.controller.js"></script>
    <script src="controller/admin.controller.js"></script>
    <script src="controller/login.controller.js"></script>
    <script src="controller/register.controller.js"></script>
    <script src="controller/addArticle.controller.js"></script>
    <script src="controller/editArticle.controller.js"></script>
    <script src="controller/upload.controller.js"></script>
    <script src="controller/message.controller.js"></script>
</body>
</html>
