<link rel='stylesheet' href='dist/css/textAngular.css'>


<h1>Ajout d'un article</h1>
<form name="form" ng-submit="vm.addArticle(title,preface,content)" role="form">
	<div class="form-group">
		<input ng-model="title" type="text" name="title" value="">
	</div>
	<div class="form-group">
		<textarea ng-model="preface"></textarea>
	</div>

	<div class="form-group">
		<select class="btn btn-default" ng-options="cat.id as cat.name for cat in vm.allCat" ng-model="user.id_role" class="" name=""></select>
	</div>

	<div class="form-group">
		<text-angular ng-model="content"></text-angular>
	</div>

	<div class="form-group">
		<text-angular ng-model="content"></text-angular>
	</div>
	<button type="submit" name="button" class="btn btn-primary">Ajouter</button>
</form>
