<h1>Administration</h1>
<h2>Utilisateur</h2>

<table ng-table="vm.allUsers" class="table" show-filter="true">
    <tr ng-repeat="user in $data">
        <td title="'Pseudo'" filter="{ pseudo: 'text'}" sortable="'pseudo'">
            {{user.pseudo}}
        </td>
        <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">
            {{user.email}}
        </td>
        <td title="'Nom'" filter="{ firstname: 'text'}" sortable="'firstname'">
            {{user.firstname}}
        </td>
        <td title="'Prénom'" filter="{ lastname: 'text'}" sortable="'lastname'">
            {{user.lastname}}
        </td>
        <td>
            <select class="btn btn-default" ng-options="role.id as role.name for role in vm.allRoles" ng-model="user.id_role" class="" name=""></select>
        </td>
        <td><a href="javascript:void(0)" ng-click="vm.updateRoleUser(user)"><i class="fa fa-floppy-o  fa-2x" aria-hidden="true"></i></a></td>

    </tr>
</table>


<h2>Catégorie</h2>
<h3>Ajouter une catégorie</h3>

<table class="table table-striped table-bordered" style="width:100%">
    <tr>
        <td><input type="text" class="form-control" placeholder="Nom" ng-model="vm.newCat" value=""></td>
        <td valign="middle"><a href="javascript:void(0)" ng-click="vm.addCat()"><i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i></a></td>
    </tr>
</table>

<h3>Liste des catégories</h3>
<table ng-table="vm.allCat" class="table table-striped table-bordered" style="width:100%">
    <tr ng-repeat="cat in $data">
        <td title="'Nom'" filter="{ name: 'text'}" sortable="'name'">
            <input  class="form-control" type="text" ng-model="cat.name" name="" value="">
            <!-- {{cat.name}} -->
        </td>
        <!-- <td><input  class="form-control" type="text" ng-model="cat.name" name="" value=""></td> -->
        <td><a href="javascript:void(0)" ng-click="vm.updateCat(cat)"><i class="fa fa-floppy-o  fa-2x" aria-hidden="true"></i></a></td>
        <td><a ng-click="vm.deleteCat(cat.id)" href="javascript:void(0)"><i class="fa fa-trash-o  fa-2x" aria-hidden="true"></i></a></td>
    </tr>
</table>
