<h1>Administration</h1>
<h2>Utilisateur</h2>
<table style="width:100%">
    <tr>
        <th>Pseudo</th>
        <th>Email</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Role</th>
        <th>Valider</th>
    </tr>

    <tr ng-repeat="user in vm.allUsers">
        <td>{{user.pseudo}}</td>
        <td>{{user.email}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>
            <select ng-options="role.id as role.name for role in vm.allRoles" ng-model="user.id_role" class="" name=""></select>
        </td>
        <td><button type="button" ng-click="vm.updateRoleUser(user)" name="button">Valider</button></td>
    </tr>
</table>
<h2>Catégorie</h2>
<input type="text" ng-model="vm.newCat" value="">
<button type="button" ng-click="vm.addCat()" name="button">Ajouter</button>
<table style="width:100%">
    <tr>
        <th>Nom</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </tr>
    <tr ng-repeat="cat in vm.allCat">
        <td><input type="text" ng-model="cat.name" name="" value=""></td>
        <td><a href="javascript:void(0)" ng-click="vm.updateCat(cat)"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a></td>
        <td><a ng-click="vm.deleteCat(cat.id)" href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
    </tr>
</table>
