<link rel='stylesheet' href='dist/css/textAngular.css'>

<h1>Modification d'un article</h1>
<form name="form" ng-submit="vm.editArticle()" role="form">
	<div class="form-group">
		<label for="title">Titre</label>
		<input class="form-control" ng-model="vm.title" type="text" id="title" name="title" value="">
	</div>
	<div class="form-group">
		<label for="preface">Préface</label>
		<textarea class="form-control" id="preface" ng-model="vm.preface"></textarea>
	</div>

	<div class="form-group">
		<label for="cat">Catégorie</label>
		<select class="form-control" ng-options="cat.id as cat.name for cat in vm.allCat" id="cat" ng-model="vm.idCat" name=""></select>
	</div>

	<div class="form-group">
		<label for="cont">Contenu</label>
		<text-angular id="cont" ng-model="vm.content"></text-angular>
	</div>
	<button type="submit" name="button" class="btn btn-primary">Modifier</button>
	<button type="submit" name="button" ng-click="vm.deleteArticle()" class="btn btn-danger pull-right">Supprimer</button>
</form>
