<link rel='stylesheet' href='dist/css/textAngular.css'>


<h1>Modification d'un article</h1>
<form name="form" ng-submit="vm.editArticle()" role="form">
	<div class="form-group">
		<input ng-model="vm.title" type="text" name="title" value="">
	</div>
	<div class="form-group">
		<textarea ng-model="vm.preface"></textarea>
	</div>

	<div class="form-group">
		<select class="btn btn-default" ng-options="cat.id as cat.name for cat in vm.allCat" ng-model="vm.idCat" class="" name=""></select>
	</div>

	<div class="form-group">
		<text-angular ng-model="vm.content"></text-angular>
	</div>
	<button type="submit" name="button" class="btn btn-primary">Ajouter</button>
</form>
