
<hr>

<form class="form-inline">
    <div class="form-group">
        <label for="tri">Trier par : </label>
        <select ng-change="vm.changeReq()" class="form-control" id="tri" ng-model="vm.tri">
            <option value="date">Défaut (date)</option>
            <option value="title">Titre</option>
            <option value="categorie">Catégorie</option>
        </select>
    </div>

    <div class="form-group">
        <label for="cat">Catégorie : </label>
        <select ng-change="vm.changeReq()" id="cat" class="form-control" ng-model="vm.cat">
            <option value="">Défaut (Toute)</option>
            <option ng-repeat="cat in vm.allCat" value="{{cat.id}}">{{cat.name}}</option>
        </select>
    </div>
</form>

<div ng-repeat="article in vm.allArticles" class="">
    <h3>{{article.title}}</h3>
    <p>{{article.preface}}</p>
    <i class="date">Date de création : {{article.date_add |date:'medium'}}</i><br>
	<i class="date">Date de derniere modification : {{article.date_update |date:'medium'}}</i>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li ng-repeat="pagination in vm.paginationArray" class="page-item"><a ng-click="vm.changeReq(pagination)" class="page-link" href="javascript:void(0)">{{pagination.page}}</a></li>
  </ul>
</nav>
