
<hr>

<form class="form-inline">
    <div class="form-group">
        <label for="tri">Trier par : </label>
        <select ng-change="vm.changeReq()" class="form-control" id="tri" ng-model="vm.tri">
            <option value="date">Défaut (date)</option>
            <option value="title">Titre</option>
        </select>
    </div>

    <div class="form-group">
        <label for="cat">Catégorie : </label>
        <select ng-change="vm.changeReq()" id="cat" class="form-control" ng-model="vm.cat">
            <option value="">Défaut (Toute)</option>
            <option ng-repeat="cat in vm.allCat" value="{{cat.id}}">{{cat.name}}</option>
        </select>
    </div>
</form>

<hr>

<div ng-repeat="article in vm.allArticles" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><a href="#!/article/{{article.id}}">{{article.title}}</a><span class="pull-right"><i class="fa fa-user-o  fa" aria-hidden="true"></i>&nbsp;{{article.auteur}}&nbsp;<i class="fa fa-calendar  fa" aria-hidden="true"></i> {{article.date_update |date:'medium'}}</span></div>
    <div class="panel-body">
        {{article.preface}}
        <p></p>
        <a  href="#!/article/{{article.id}}" class="btn btn-default btn-xs pull-right">Afficher le contenu</a>
    </div>
</div>

<div ng-if="vm.noArticle">
    <p>Pas d'article</p>
</div>

<nav class="text-center">
    <ul class="pagination text-center">
        <li ng-repeat="pagination in vm.paginationArray" class="page-item"><a ng-click="vm.changeReq(pagination)" class="page-link" href="javascript:void(0)">{{pagination.page}}</a></li>
    </ul>
</nav>
