<hr>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab">Gallerie</a></li>
    <li role="presentation"><a href data-target="#home" aria-controls="home" role="tab" data-toggle="tab">Importer un fichier</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="home">
        <hr>
        <form name="vm.upload_form">
            <div class="form-group">
                <input type="file" ngf-select ng-model="vm.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"/>
                <img style="width:100px;" ng-show="vm.file" ngf-thumbnail="vm.file"/>
                <i ng-show="vm.upload_form.file.$error.required">*required</i></br>
                <i ng-show="vm.upload_form.file.$error.maxSize">Fichier trop volumineux {{up.file.size / 1000000|number:1}}MB: max 20M</i>
            </div>

            <div class="form-group">
                <label for="cat">Catégorie</label>
                <select class="form-control" ng-options="cat.id as cat.name for cat in vm.allCat" id="cat" ng-model="vm.idCat" name=""></select>
            </div>

            <div class="form-group">
                <label for="commentaire">Commentaire</label>
                <textarea class="form-control" ng-model="vm.commentaire" id="commentaire"></textarea>
            </div>

            <button type="submit" ng-click="vm.submit()">Upload</button>
            <p>{{up.progress}}</p>
        </form>
    </div>

    <div role="tabpanel" class="tab-pane active" id="profile">
        <hr>
        <div class="form-group">
            <label for="cat">Trier par catégorie</label>
            <select class="form-control" ng-change="vm.loadAllMedia()" ng-options="cat.id as cat.name for cat in vm.allCat" ng-model="vm.idUploadCat" name=""></select>
        </div>

        <div class="row">
            <div ng-repeat="media in vm.medias" class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="{{media.url}}" target="_blank">
                        <img ng-src="{{media.url}}" alt="{{media.commentaire}}">
                    </a>
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>{{media.commentaire}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="!vm.medias.length">Pas de media</div>
    </div>
  </div>
</div>
