<h3>Angular Node File Upload</h3>
<form name="vm.upload_form">
  <input type="file" ngf-select ng-model="vm.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"/>
  Image thumbnail: <img style="width:100px;" ngf-thumbnail="up.file"/>
  <i ng-show="vm.upload_form.file.$error.required">*required</i><br>
  <i ng-show="vm.upload_form.file.$error.maxSize">File too large 
    {{up.file.size / 1000000|number:1}}MB: max 20M</i>
    <button type="submit" ng-click="vm.submit()">submit</button>
    <p>{{up.progress}}
</form>