<h3>Angular Node File Upload</h3>
<form name="vm.upload_form">
<div class="form-group">
  <input type="file" ngf-select ng-model="vm.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"/>
  <img style="width:100px;" ngf-thumbnail="vm.file"/>
  <i ng-show="vm.upload_form.file.$error.required">*required</i><br>
  <i ng-show="vm.upload_form.file.$error.maxSize">Fichier trop volumineux 
    {{up.file.size / 1000000|number:1}}MB: max 20M</i>
</div>
<div class="form-group">
    <label for="cat">Catégorie</label>
    <select class="form-control" ng-options="cat.id as cat.name for cat in vm.allCat" id="cat" ng-model="vm.idCat" name=""></select>
</div>
<div class="form-group">
    <label for="commentaire">Commentaire</label>
    <textarea class="form-control" ng-model="vm.commentaire" id="commentaire"></textarea>
</div>
    <button type="submit" ng-click="vm.submit()">Upload</button>
    <p>{{up.progress}}
</form>